body{
    margin: 0;
    color: #E5E5E5;
}

a{
    text-decoration: none;
}

.header{
    height: 88px;
    background: url(Pics/top_bg.png) no-repeat center top/cover;
}

.nav{
    display: flex;
    align-items: center;
}

.logo{
    width: 146px;
    height: 101px;
    margin-left: 42px;

    font-family: Monoton;
    font-style: normal;
    font-weight: normal;
    font-size: 65px;

    

    color: #fff;
}


.top_search{
    width: 318px;
    height: 41px;
    margin-left: 73px;

    padding-left: 15px;
    padding-right: 37px;

    background: #F4F4F4;
    mix-blend-mode: normal;
    border-radius: 20.5px;

    border: none;
    outline: 0;

    background-repeat:no-repeat;
    background-attachment:scroll;
    background-position: 333px center;
    background-size: 27px;
    
    background-image:url('Pics/search_png.png') 
}

.top_search :focus{
    outline: 0;
}



.contacts{
    margin-left: auto;
    margin-right: 50px;

    width: 149px;
    height: 30px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 23px;
    line-height: 30px;
    text-transform: uppercase;

    color:#fff;

}

.contacts:hover{
    color: #6a6a6a;
}

.login_main{
    display:flex;
    justify-content: center;
    
    margin-top: 219px;
}

.main_logo{
    width: 222px;
    height: 154px;

    margin-left: auto;
    margin-right: auto;

    font-family: Monoton;
    
    font-style: normal;
    font-weight: normal;
    font-size: 99px;
    line-height: 154px;
    text-transform: uppercase;

    color: #912222;
}

.some_mes{
    text-align: center;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 43px;


    text-transform: uppercase;

    color: #000000;
}

.fields{

    display: flex;
    flex-flow: column wrap;
}

.fields .login{
    margin-top: 52px;
    
}

.fields input{
    margin-bottom: 20px;

    width: 456px;
    height: 61px;
    background: #D9D9D9;
    border-radius: 41px;

    padding-left: 31px;
    padding-right: 31px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 21px;
    line-height: 30px;
    text-transform: uppercase;

    border: none;
    outline: 0;

    color: #000000;

}

.btns{
    display: flex;
    flex-flow: column wrap;
    margin-top: 46px;
}

.btns button{
    display: flex;
    
    justify-content: center;

    margin-bottom: 17px;


    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    text-transform: uppercase;
    color:#000;

    outline: none;
    border: 0;
    background: transparent;
}

.btns button:hover{
    cursor:pointer;
    color:#912222;
}

