@model RegRequest

<h3>
    Регистриаця
</h3>

<div class="newslatter-form">
                <div class="row">
                    <div class="col-lg-12">
                        <form class="reg-form" asp-action="Registration">
                            <input asp-for="Email" type="text" placeholder="Почта">
                            <input asp-for="Password" type="password" placeholder="Пароль">
                            <input asp-for="ConfirmPassword" type="password" placeholder="Подтверждение пароля">
                            <button type="submit">Зарегистрироваться</button>
                        </form>
                    </div>
                </div>
            </div>